<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invitable - My Account</title>
  <% include head.ejs %>
</head>

<body>
<h1 class="logo"><a href="/">Invitable</a></h1>
<div class="card-container">
  <div class="card">
    <div class="push-up-right">
      <a href="/logout">Log Out</a>
    </div>
    <h1>My Account</h1>
      <hr />
         <h2>Invitable Account</h2>
         <% if(user.local.email) { %>
         <p>
          <strong>E-mail</strong>: <%= user.local.email %><br /><br />
          <a href="/changePassword" class="btn btn-info btn-lg">Change Password</a>&nbsp;&nbsp;
          <a href="/unlink/local" class="btn btn-info btn-lg">Unlink Invitable Account</a>
        </p>

        <% } else { %>
          <p>
            You didn't create an account with your e-mail address.<br /><br />
            <a href="/connect/local" class="btn btn-info btn-lg">Create an account</a>
          </p>
        <% } %>

          <h2>Facebook Account</h2>
          <% if (user.facebook.token) { %>
          <p>
            You've connected the Facebook account with the e-mail <%= user.facebook.email %>.<br /><br />
            <a href="/unlink/facebook" class="btn btn-info btn-lg">Unlink Facebook</a>
          </p>
          <% } else { %>
          <p>
            You haven't connected a Facebook account.<br /><br />
            <a href="/connect/facebook" class="btn btn-info btn-lg">Connect Facebook</a>
          </p>
              <% } %>
  </div>
</div>
</body>
</html>
