<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Invitable - Change Password</title>
	<% include head.ejs %>
	<script type="text/javascript" src="/js/changePassword.js"></script>
</head>

<body>

<h1 class="logo"><a href="/">Invitable</a></h1>
<div class="card-container">
	<div class="card">
		<div class="push-up-right">
			<a href="/account">My Account</a>
			<a href="/logout">Log Out</a>
		</div>
		<!-- display messages that are sent back -->
		<% if ( message.length > 0 ) { %>
			<div data-alert class="alert-box"><%= message %></div>
		<% } %>

		<% if ( error.length > 0 ) { %>
			<div data-alert class="alert-box warning"><%= error %></div>
		<% } %>

		<h2 class="underline">Change Password</h2>
		<form id="changePasswordForm" action="" method="post" class="form-auth">
			<fieldset class="changePassword">

				<div class="form-group">
					<input type="password" name="oldPassword" class="form-control" placeholder="Old Password">
				</div>
				
				<div class="form-group">
					<input type="password" name="newPassword" class="form-control" placeholder="New Password">
				</div>

				<div class="form-group">
					<input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password">
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-warning btn-lg">Save New Password</button>
				</div>

			</fieldset>
		</form>
	</div>
</div>
</body>
</html>
