<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Invitable - Create an Invitable Account</title>
	<% include head.ejs %>
	<script type="text/javascript" src="/js/connect-local.js"></script>
</head>

<body>

<h1 class="logo"><a href="/">Invitable</a></h1>
<div class="card-container">
	<div class="card">
		<!-- Display Errors -->
		<% if (message.length > 0) { %>
			<div data-alert class="alert-box warning"><%= message %></div>
		<% } %>
		<h2 class="underline">Create an Invitable Account</h2>

		<form id="connect-localForm" action="/connect/local" method="post" class="form-auth">

			<div class="form-group">
				<input type="email" name="email" class="form-control" placeholder="E-mail Address"></input>
			</div>

			<div class="form-group">
				<input type="password" name="password" class="form-control" placeholder="Password"></input>
			</div>
				
			<div class="form-group">
				<input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password"></input>
			</div>
			
			<div class="form-group">	
				<button type="submit" class="btn btn-info btn-block">Create Account</button>
			</div>
			
		</form>
	</div>
</div>
</body>
</html>
