<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Invitable - Forgot Password</title>
	<% include head.ejs %>
</head>

<body>

<h1 class="logo"><a href="/">Invitable</a></h1>
<div class="card-container">
	<div class="card">
		<!-- display messages that are sent back -->
		<% if ( message.length > 0 ) { %>
				<div data-alert class="alert-box"><%= message %></div>
			<% } %>

		<% if ( error.length > 0 ) { %>
				<div data-alert class="alert-box warning"><%= error %></div>
			<% } %>

		<h2 class="underline">Forgot Password</h2>

		<form id="forgotPassword" action="/forgotPassword" method="post" class="form-auth">
			<fieldset class="signup">
				<input type="email" name="email" class="form-control" placeholder="E-mail Address">
				<button type="submit" class="btn btn-info btn-block">Reset Password</button>
			</fieldset>
		</form>
		<br>
	</div>
</div>
</body>
</html>
