<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Invitable</title>
		<% include head.ejs %>
		</head>
	<body>

		<h1 class="logo"><a href="/">Invitable</a></h1>
		<div class="card-container">
			<div class="card">
				<div class="push-up-right">
					<a href="/logout">Log Out</a>
					<a href="/submit">Add an Invite</a>
				</div>
				<h1>Check out the invites below!</h1>
			</div>
		</div>
	</body>
</html>
