doctype html
html.no-js(lang='en')
head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Invitable - Login
    link(rel="stylesheet" href="css/foundation.css")
    script(src="js/vendor/modernizr.js")
    link(rel="stylesheet", href="css/app.css")
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
  body
    .row
      .columns.small-12.head
        .columns.small-12
          h1 Invitable
        .columns.small-12.option
          a.option(href='/login') Sign In
          a.option(href='/signup') Sign Up
    .row
      .columns.small-12.body
        | Login
	.columns.small-12.large-6.medium-6.body
          form(action='/signup', method='post')
            label Email
              input.form-control(type='text', name='email')
            label Password
              input.form-control(type='password', name='password')
            button.btn.btn-warning.btn-lg(type='submit') Login
        hr
        p
          a.option(href="/auth/facebook") Sign in with Facebook
        hr
        p
          | Need an account?
          a(href='/signup')  Sign up
          | .
        p
          | Return to the 
          a(href='/')  homepage
          | .
