doctype html
html(lang="en") 
  head
    title Invitable - Login
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    style
      body    { padding-top:80px; }
  body
    .container
    .col-sm-6.col-sm-offset-3
      h1
        span.fa.fa-sign-in
        | Login
      form(action='/login', method='post')
        .form-group
          label Email
          input.form-control(type='text', name='email')
        .form-group
          label Password
          input.form-control(type='password', name='password')
        button.btn.btn-warning.btn-lg(type='submit') Login
      hr
      p
        | Need an account?
        a(href='/signup')  Sign-up
        } .
      p
        | Return 
        a(href='/')  home
        | .
