<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Invitable - Log In</title>
	<% include head.ejs %>
</head>

<body>

<h1 class="logo"><a href="/">Invitable</a></h1>

<div class="card-container">
	<div class="card">
		<h2 class="underline">Login</h2>

		<form action="/login" method="post" class="form-auth">
			<fieldset>
				<!-- Display Errors -->
				<% if (message.length > 0) { %>
					<div role="alert" class="alert alert-danger"><%= message %></div>
				<% } %>
				<input type="email" name="email" class="form-control" placeholder="E-mail Address">
				<input type="password" name="password" class="form-control" placeholder="Password">
				<button type="submit" class="btn btn-success btn-block btn-login">Login</button>
			</fieldset>
		</form>
		<br>
		<a href="/forgotPassword" class="forgotpwd">Forgot your password?</a>
		<br>
		<small>Don't have an account yet? <a href="/signup">Sign up</a></small>
		<p/>
		<p>or</p>
		<a href="/auth/facebook" class="btn-fb-auth"><img src="img/facebooklogin.png"/></a>
	</div>
</div>
</body>
</html>
