<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="css/foundation.css">
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

	<title>Invitable - Log In</title>
</head>

<body>

<div class="row">
	<div class="columns small-12 head">
		<div class="columns small-12">
			<h1>Invitable</h1>
		</div>
		<div class="columns small-12 option">
			<a href="/login" class="option">Log In</a><a href="/signup" class="option">Sign Up</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="columns small-12 body">

			<div class="columns small-12 large-8 medium-8">

				<!-- display messages that are sent back from authentication -->
				<% if (message.length > 0) { %>
						<div data-alert class="alert-box warning"><%= message %></div>
					<% } %>

				Log In
				<hr />
				<p class="facebookLoginButton">
					<a href="/auth/facebook"><img src="img/facebooklogin.png" /></a>
					<br /> or <br />
				</p>
				<form action="/login" method="post" data-abide>
					<fieldset>
					<input type="email" name="email" class="form-control" required placeholder="E-mail address">
					<small class="error">An email address is required.</small>
					<input type="password" name="password" class="form-control" placeholder="Password">
					<button type="submit" class="btn btn-warning btn-lg">Login</button>
					</fieldset>
				</form>
				<p class="label">
					Need an account? <a href="/signup">Sign up</a>.
				</p>
				<p class="label">
					<a href="/forgotpassword">Forgot your password?</a>
				</p>
				<p class="label">
					Return to the <a href="/">homepage</a>.
				</p>
			</div>
	</div>
</div>
		<script src="js/vendor/jquery.js"></script>
		<script src="js/foundation.min.js"></script>
		<script src="js/foundation/foundation.magellan.js"></script>
		<script src="js/foundation/foundation.abide.js"></script>
		<script src="js/jquery.stellar.min.js"></script>
		<script src="js/modernizr.js"></script>
		<script>
			$(document).foundation();
		</script>
</body>
</html>
