<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Invitable - Signup</title>
	<% include head.ejs %>
	<script type="text/javascript" src="/js/signup.js"></script>
</head>

<body>

<h1 class="logo"><a href="/">Invitable</a></h1>
<div class="card-container">
	<div class="card">
		<!-- Display Errors -->
		<% if (message.length > 0) { %>
			<div data-alert class="alert-box warning"><%= message %></div>
		<% } %>
		<h2 class="underline">Sign up</h2>

		<form id="signupForm" action="/signup" method="post" class="form-auth form-group">
					<input type="email" name="email" class="form-control" placeholder="E-mail Address">
					<input type="password" name="password" class="form-control" placeholder="Password">
					<input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password">
					<button type="submit" class="btn btn-info btn-block">Sign up</button>
		</form>
		<br>
		<small>Already have an account? <a href="/login">Log in now</a></small>
		<p></p>
		<a href="/auth/facebook" class="btn-fb-auth"><img src="img/facebooklogin.png"/></a>
	</div>
</div>
</body>
</html>
