<!DOCTYPE html>
<!-- saved from url=(0028)http://localhost:3000/signup -->
<html lang="en" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Invitable - Signup</title>
<link rel="stylesheet" href="http://localhost:3000/css/foundation.css">
<script src="./signup_files/modernizr.js"></script>
<link rel="stylesheet" href="http://localhost:3000/css/app.css">
<link href="./signup_files/css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div class="row">
	<div class="columns small-12 head">
		<div class="columns small-12">
			<h1>Invitable</h1>
		</div>
		<div class="columns small-12 option">
			<a href="http://localhost:3000/login" class="option">Sign In</a><a href="./signup_files/signup.html" class="option">Sign Up</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="columns small-12 body">
		Sign Up
		<div class="columns small-12 large-6 medium-6 body">
			<form action="./signup_files/signup.html" method="post">
				<label>Email<input type="text" name="email" class="form-control"></label><label>Password<input type="password" name="password" class="form-control"></label>
			</form>
			<button type="submit" class="btn btn-warning btn-lg">Sign up</button>
			<hr>
			<p>
				If you already have an account, please <a href="http://localhost:3000/login">log in</a>.
			</p>
			<p>
				Return to the <a href="http://localhost:3000/">homepage</a>.
			</p>
		</div>
	</div>
</div>
</body>
</html>
