/* Media Overhaul Styles */
html, body, .container-fluid
{
	height: 100%;
}

body
{
	background: url('/img/bg.jpg');
	background-size: cover;
}

h1.logo
{
	position: absolute;
	top: 0;
	left: 60px;
	color: #ede7f6;
}

h1.logo a
{
	color: #ede7f6;
}

h1.logo a:hover
{
	text-decoration: none;
}

h2.underline
{
	display: inline-block;
	border-bottom: 1px solid white;
	padding-left: 20px;
	padding-right: 20px;
}

.card-container
{
	display: table;
	width: 100%;
	height: 100%;
	background: rgba(103,58,183, .75);
}

.card-container .card
{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-family: 'PT Sans Narrow', sans-serif;
	color: #ede7f6;
}

.card-container .card a
{
	color: #ede7f6;
	font-size: 16px;
}

.card-container .card .push-up-right
{
	position: absolute;
	top: 35px;
	right: 60px;
}

.card-container .card .push-up-right a
{
	font-size: 16px;
	padding: 15px;
	color: #ede7f6;
}

.card-container .card img
{
	display: block;
	margin: 0 auto;
}

.card-container .card table
{
	margin: 0 auto;
}

.btn-signup-index
{
	margin: 20px;
}

.form-auth
{
	display: block;
	margin: 0 auto;
	min-width: 200px;
	max-width: 300px;
}

.form-auth input
{
	border-radius: 0px;
	margin-bottom: 10px;
}

.form-auth button[type='submit']
{
	border-radius: 0px;
}

.btn-fb-auth
{
	display: inline;
	margin-top: 30px;
}